/* body {
    background-color: rgba(0, 59, 141, 0.96);
    display: inline;
    justify-content: center;
    align-items: center;
}

#b {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn-class {
    border: 2px solid #000;
    padding: 10px 15px;
    background-color: rgb(0, 38, 126);
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
    font-family: 'Arial', sans-serif;
    color: #989898;
    transition: background-color 0.5s ease-in-out, width 0.5s ease-in-out;
    margin-top: 10px;
}

.btn-class:hover {
    box-shadow: none;
    /*border: 2px solid #000;*/
/* }

.active {
    background-color: rgb(17, 134, 0);
    color: #ffffff;
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
    text-shadow: 1px 1px 6px;
}

#demo {
    font-size: 50px;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    border-bottom: 2px solid #fafafa;
    transition-delay: 2s;
}

#center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

#a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 10px;
    /*flex-wrap: wrap;*/
/* } */

/* .name2 {
    font-size: 50px;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    /*border-bottom: 2px solid #fafafa*/
/*     display: inline;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
} */
 
/* .active2 {
    background-color: rgb(117, 0, 0);
    color: #000000;
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
}  */ 





body {
    background-color: rgba(0, 59, 141, 0.96);
    display: inline;
    justify-content: center;
    align-items: center;
}

#words {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.btn-class {
    border: 2px solid #000;
    padding: 10px 15px;
    background-color: rgb(0, 38, 126);
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
    font-family: 'Arial', sans-serif;
    color: #989898;
    transition: background-color 0.5s ease-in-out, width 0.5s ease-in-out;
    margin-top: 10px;
}

.btn-class:hover {
    box-shadow: none;
    /*border: 2px solid #000;*/
}

.active {
    background-color: rgb(17, 134, 0);
    color: #ffffff;
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
    text-shadow: 1px 1px 6px;
}

#guess {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 10px;
    /*flex-wrap: wrap;*/
}

.guess {
    font-size: 50px;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    /*border-bottom: 2px solid #fafafa*/
    display: inline;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.active2 {
    background-color: rgb(117, 0, 0);
    color: #000000;
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
}

#lose{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 1px rgb(0, 10, 73);
}
